<div class="form-line {{if valueNotNull 'focused'}} {{if (get changeset.error property)  'error'}}">
  {{input
    type=type
    value=_value
    class="form-control"
    placeholder=placeholder
    disabled=disabled
    readonly=readonly
    required=required
    autofocus=autofocus
    size=size
    tabindex=tabindex
    maxlength=maxlength
    name=name
    min=min
    max=max
    pattern=pattern
    accept=accept
    autocomplete=autocomplete
    autosave=autosave
    formaction=formaction
    formenctype=formenctype
    formmethod=formmethod
    formnovalidate=formnovalidate
    formtarget=formtarget
    height=height
    inputmode=inputmode
    multiple=multiple
    step=step
    width=width
    form=form
    selectionDirection=selectionDirection
    spellcheck=spellcheck
  }}
  {{#if float}}
    <label class="form-label">{{{label}}}</label>
  {{/if}}
</div>
{{#if help}}
  <div class="help-info">{{{help}}}</div>
{{/if}}
{{#if (get changeset.error property)}}
  <label class="error" style="list-style:none">
    {{#each (get (get changeset.error property) 'validation') as |error|}}
      <li>
        {{error}}
      </li>
    {{/each}}
  </label>
{{/if}}
