

<div class="container-fluid">
    <div class="navbar-header">

        {{#unless noLeftMenu}}
          <a href="javascript:void(0);" {{action (toggle this "collapsed")}} class="navbar-toggle "></a>

          <a href="javascript:void(0);" class="bars" {{action 'toggleSidebar'}}></a>
        {{/unless}}

        <a class="navbar-brand" href="#" {{action 'titleClick'}}>{{title}}</a>
    </div>

      {{#bs-collapse collapsed=collapsed id="navbar-collapse" class="navbar-collapse"}}
        <ul class="nav navbar-nav navbar-right">

            {{#unless noSearch}}
            <li><a href="javascript:void(0);" {{action 'displaySearch'}} class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
            {{/unless}}
            <!-- Call Search -->
            {{yield}}



            {{#if withRightSideBar}}
              <li class="pull-right"><a href="javascript:void(0);" {{action 'toggleRightSidebar'}} class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
            {{/if}}
        </ul>
      {{/bs-collapse}}
</div>
